/* fonts */
@font-face {
	font-family: 'somefont';
	src: url('../fonts/somefont.eot');
	src: local('O'),
	url('../fonts/somefont.woff') format('woff'),
	url('../fonts/somefont.ttf') format('truetype'),
	url('../fonts/somefont.svg') format('svg');
	font-weight: normal;
	font-style: normal;}
/* /fonts*/

/* helping adds*/
.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}

.zHiddenBlock{position:absolute;left:-99999em;top:-99999em;}
/* /helping adds*/

/* base styles*/
html{height:100%}
body{min-height:100%;min-width:320px;max-width:667px;margin: 0 auto;font-family:Tahoma,sans-serif;font-size:12px;background:#fff;color:#000000;position:relative;}
img{vertical-align:bottom;border:0;max-width:100%;}
/* /base styles */


/* icons styling*/
/* /icons styling*/


/* base typo*/
.ctext h1,.ctext h2,.ctext h3,.ctext h4,.ctext h5,.mainheading,.subheading,.thirdheading,.fourheading,.fiveheading{font-weight:normal;margin-bottom:1em;}
a{color:#12c;border:0;}
a:hover{color:#dd4b39;}
p{margin:0;}
.mainheading,.ctext h1{}
.subheading,.ctext h2{}
.thirdheading,.ctext h3{}
.fourheading,.ctext h4{}
.fiveheading,.ctext h5{}
.ctext p{margin:0 0 10px 0;}
.ctext ul{margin:10px 20px;}
.ctext p:last-child,.ctext ul:last-child{margin-bottom:0;}
.ctext table{border-collapse:collapse;}
.ctext table tr td,.ctext table{border:1px solid;}
/* /base typo*/


/* wraps styling*/

.mbox{width:100%;max-width:667px;margin:0 auto;position:relative;z-index:1;}
.mbox:after,.cfix:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/

/*Layout*/
.main{}

.footer_placeholder{/*height: 200px;*/}
.footer{/*position:absolute;*/bottom:0;left:0;width:100%;z-index:2;overflow:hidden;color:#646464;}
/*End Layout*/


.bTitle { color: #000; font-size: 18px; margin-bottom: 25px; font-weight: bold; text-transform: uppercase; }
/*_forms.scss*/
.zForm .zNice-checkbox, .zForm .zNice-radio { margin-right: 9px; }
.zForm .zNice-checkbox + .zForm-text, .zForm .zNice-radio + .zForm-text { color: #2b2b2b; }
.zForm-title { font-size: 18px; margin-bottom: 25px; }
.zForm-row { margin-bottom: 9px; }
.zForm-row.leftFormat .zForm-col:nth-child(1) { width: 74%; margin-right: 2%; }
.zForm-row.leftFormat .zForm-col:nth-child(2) { width: 24%; }
.zForm-row.rightFormat .zForm-col:nth-child(1) { width: 24%; margin-right: 2%; }
.zForm-row.rightFormat .zForm-col:nth-child(2) { width: 74%; }
.zForm-col { width: 49%; margin-right: 2%; float: left; }
.zForm-col:last-child { margin-right: 0; }
.zForm-center { text-align: center; }
.zForm-link, .zForm-text { color: #242424; text-decoration: none; }


/*Header*/
.header-wrap{}
.header-full-version{background-color: #4d4d4d;}
.header-full-version a{color:white;text-align: center;padding: 11px 0px 16px 0px;text-align: center;font-size: 25px;line-height: 36px;display: block;}
.header-full-version a:hover{text-decoration: none;}
.header-middle-item{width: 50%;float: left;}

.header-middle-item>div{}
.header-middle-item>div span,.header-middle-item>div a{display: inline-block;vertical-align: middle;color: #999999;font-size: 25px;}
.header-middle-item>div span{vertical-align: baseline;}
.header-middle-item>div span img{padding-right: 10px;}
.header-middle-item-top{padding-top: 17px;padding-left: 26px;}
.header-middle-item-middle{font-weight: bold;font-size: 25px;color: #e86608;text-align: right;padding-top: 15px;padding-right: 12px;}
.header-middle-item-bottom{text-align: center;padding-top: 16px;}
div.header-middle-item-bottom a{color: #35a9d4;font-size: 35px;font-family: 'Trebuchet MS',sans-serif;text-decoration: none;
  letter-spacing: 0px;}
.header-middle-row{padding-top: 12px;padding-left: 13px;padding-bottom: 22px;box-sizing:border-box;}

.header-menu-button{float: left;width: 25%;text-align: center;border-right: 1px solid #fff;box-sizing:border-box;}
.header-menu-button a{display: block; padding: 27px 0px;}
.header-menu-cart{float: left;width: 25%;text-align: center;padding: 27px 0px;border-left: 1px solid #fff;box-sizing:border-box;}
.header-menu-search {float: left;width: 50%;box-sizing:border-box;}
.header-menu-search input{font-family: 'Open Sans', sans-serif;height: 72px;border: none;outline: none;border-radius: 6px;color: #cccccc;font-size: 22px;padding-left: 34px;box-sizing: border-box;width: 100%;}
.header-menu-row{background-color: #ee8413;}
.header-menu-search-wrap{  padding: 10px 14px 10px 14px;}
.header-menu-search input::-webkit-input-placeholder {color:#cccccc;}
.header-menu-search input:-moz-placeholder {color:#cccccc;}
.header-menu-search input::-moz-placeholder {color:#cccccc;}
.header-menu-search input:-ms-input-placeholder {color:#cccccc;}

.header-menu-main{display: none;}
.header-menu-main-wrap {position: relative;color: #fff;font-size: 25px;overflow: hidden;}
.header-menu-main-wrap>ul{transition:all ease 300ms;-webkit-transition:all ease 300ms;-moz-transition:all ease 300ms;}
.header-menu-main-wrap ul li {border-bottom:1px solid white;}
.header-menu-main-wrap ul li:last-child{border-bottom: none;}
.header-menu-main-wrap ul li a{color: #fff;text-decoration: none;display: block;padding: 26px 10px 28px 37px;font-size: 27px;}

.sub-menu {position: absolute;top: 0;width: 100%;left: 100%;display: none;transition:all ease 300ms;-webkit-transition:all ease 300ms;-moz-transition:all ease 300ms;opacity: 0;}
.sub-menu.active{display: block;opacity: 1;background-color: #ee8413;}
.header-menu-main-wrap>ul{background-color: #ee8413;}
.header-menu-main-wrap>ul.active{transform:translateX(-100%);-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);}
.button-back{width: 100%;padding: 5px 0px;padding: 28px 37px;display: block;border-bottom: 1px solid white;font-weight: bold;}
/*/Header*/

/*Footer*/
.footer-wrap{padding-top: 5px;}
.footer-top-line{height: 1px;background-color: #e6e6e6;margin:0 auto;width: 70%;  margin-bottom: 29px;}
.footer-top-desc{padding-top: 20px;}
.footer-top-desc-item{width: 50%;float: left;}
.footer-top-desc-item.item-1{width: 47%;}
.footer-top-desc-item.item-1 .footer-top-desc-item-img{padding-left: 52px;}
.footer-top-desc-item.item-2{width: 53%;}
.footer-top-desc-item-img{display: inline-block;margin-right: 13px;}
.footer-top-desc-item-text{display: inline-block;vertical-align: top;font-size: 23px;color: #000;}

.footer-letter-form{padding-top: 20px;padding-top: 62px;}
.footer-letter-form-wrap{background-color: #49c4e2;box-shadow:0 3px 21px 10px #a4a4a4, 0 3px 12px 1px #a4a4a4;-webkit-box-shadow:0 3px 21px 10px #a4a4a4, 0 3px 12px 1px #a4a4a4;-moz-box-shadow:0 3px 21px 10px #a4a4a4, 0 3px 12px 1px #a4a4a4;padding-top: 19px;padding-bottom: 39px;}
.footer-letter-form-title{text-align: center;margin:0 auto;max-width: 400px;color: #fff;font-size: 24px;line-height: 27px;}
.footer-letter-form-title span{font-weight: bold;}
.footer-letter-form-main{padding: 34px 25px 0px 37px;}
.footer-letter-form-input{display: inline-block;width: 64%;margin-right: 4%;}
.footer-letter-form-input  input{width: 100%;padding:12px 0px;background-color: transparent;outline: none;border:1px solid white;box-sizing:border-box;border-radius: 5px;padding-left: 27px;color: #fff;font-size: 21px;font-family: 'Open Sans', sans-serif;font-style: italic;}
.footer-letter-form-input  input::-webkit-input-placeholder {color:#fff;}
.footer-letter-form-input  input::-moz-input-placeholder {color:#fff;}
.footer-letter-form-input  input::input-placeholder {color:#fff;}
.footer-letter-form-submit{display: inline-block;width: 31%;}
.footer-letter-form-submit input{width: 100%;color: white;background-color: #e86608;border-radius: 5px;padding:14px 3px;font-size: 22px;border:none;box-sizing:border-box;}
.footer-text-bottom-item{color: #808080;padding-bottom: 10px;text-align: center;font-size: 25px;}
.footer-text-bottom-item span{display: inline-block;vertical-align: middle;}
.footer-text-bottom-item img{margin-right: 5px;display: inline-block;vertical-align: middle;}
.footer-text-bottom{padding-top: 42px;padding-bottom: 27px;}
.footer-last-button-item{float: left;width: 50%;}
.footer-last-button-item a{display: inline-block;text-decoration: none;cursor: pointer;}
.footer-last-button-call img,.footer-last-button-call span{display: inline-block;vertical-align: middle;}
.footer-last-button-call img{margin-right: 15px;}
.footer-last-button-call span{text-decoration: underline;color: #666666;font-size: 20px;font-size: 25px;line-height: 27px;}
.footer-last-button{padding: 35px 35px 29px 28px;box-shadow: 0 8px 17px 7px rgba(0,0,0,0.8);-webkit-box-shadow: 0 8px 17px 7px rgba(0,0,0,0.8);-moz-box-shadow: 0 8px 17px 7px rgba(0,0,0,0.8);}
.footer-last-button-up{text-align: right;}


/*/Footer*/









.main-href {text-align: center;padding-bottom: 17px;}
.main-href li{border-bottom: 1px solid #e5e5e5;}
.main-href li:last-child{border-bottom: none;}
.main-href li a{font-size: 30px;font-family: 'Myriad Pro';color: #000;display: block;padding: 34px 0px 23px 0px;}
.main-href li a:hover,.main-href li a:active{text-decoration: none;}